@page "/fetchdata"
@attribute [Authorize(Roles = "Admin")]
@inject EntityService entityService
@inject Repository repo
@inject DataBaseView dataBaseView;
<PageTitle >Information</PageTitle>
@using GreenFairy.Data
@using GreenFairy.ViewModels
@using GreenFairy.DomainLayer.DataBase
@using GreenFairy.DomainLayer.DataBase.Entities

<h1>Information</h1>

<div>
<select name="entities" id="entities" @bind="@dataBaseView.TabelName">

        @foreach (var type in dataBaseView.EntityTypes)
        {
                 <option value="@type.Name">@type.Name</option>
        }

</select>
</div>

    <table class="table">
        <thead>
            <tr>
            @foreach (var header in dataBaseView.EntityHeaders)
            {
                 <th>@header</th> 
            }
            </tr> 


        @foreach (var entity in dataBaseView.Entities)
        {
                    <tr>
                @foreach (var item in entity)
                {
                            <td>
                         <RadzenTextBox Value="@item.ToString()" Change="(a)=>{dataBaseView.Change(item, a);}"></RadzenTextBox>
                            </td>
                }
                  </tr>
        }  
        </thead>
        <tbody>
        </tbody>
    </table>

    <RadzenButton Click="dataBaseView.Save">Зберегти</RadzenButton>

    <RadzenButton Click="dataBaseView.Add">Додати</RadzenButton>

