@page "/"
@inject IJSRuntime js
@inject EntityService entityService
@inject Repository repo
@inject DataBaseView dataBaseView
@inject DialogService DialogService

<PageTitle>Green Фея</PageTitle>
@using GreenFairy.Data
@using GreenFairy.DomainLayer.DataBase.Entities.Abstract
@using GreenFairy.ViewModels
@using GreenFairy.DomainLayer.DataBase
@using GreenFairy.DomainLayer.DataBase.Entities


<h1>
    Green Фея <RadzenImage class="col-xl-6"
                           Path="https://i.pinimg.com/564x/c0/a3/0e/c0a30e6ab58ff8f798adef9a34846938.jpg"
                           Style="width: 5%; margin: 1rem;">
    </RadzenImage>
</h1>
<RadzenDialog/>
<RadzenCard class="rz-mt-4" >
    <RadzenDataList PageSize="@size" WrapItems="true" AllowPaging="true"
                    Data="@plants" TItem="PlantEntity">
        <Template Context="plant">
            <RadzenCard Style="width: 250px">
                <RadzenRow>
                    <RadzenColumn Size="4" class="rz-text-truncate">
                        <RadzenText TextStyle="TextStyle.Caption" Class="rz-mb-0">@(plant.Group)</RadzenText>
                        </RadzenColumn>
                        <RadzenColumn Size="4" class="rz-text-align-end">
                            <RadzenBadge BadgeStyle="BadgeStyle.Success" Text=@($"{String.Format(new System.Globalization.CultureInfo("uk-UA"), "{0:C}", plant.Price)}") />
                        </RadzenColumn>
                    </RadzenRow>
                    <hr style="border: none; background-color: var(--rz-white); height: 1px; margin: 1rem 0;" />
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem">
                        <div class="rz-p-12 rz-text-align-center">
                            <RadzenImage Click="@(()=>{OpenPlant(plant);})" Path="@plant.Photo.ToString()" Style="width: 250px; height: 250px;" />
                        </div>
                        <hr style="border: none; background-color: var(--rz-white); height: 1px; margin: 1rem 0;" />
                        <RadzenStack Gap="0">

                            <RadzenText TextStyle="TextStyle.H6" Class="rz-mb-0">@(plant.Name)</RadzenText>
                            <div class="rz-p-12 rz-text-align-center " style="margin: 10px">
                                <a class="link-info" onclick="@(()=>{OpenPlant(plant);})">Опис рослини </a>
                            </div>
                            <div class="rz-p-12 rz-text-align-center " style="margin: 10px">
                                <RadzenButton Text="Додати до кошику"/>
                            </div>
                           



                        </RadzenStack>

                    </RadzenStack>
                </RadzenCard>
            </Template>
        </RadzenDataList>
    </RadzenCard>


    @code {
    bool allowVirtualization;

    IEnumerable<PlantEntity> plants;
    IList<PlantEntity> selectedPlant;
    int size => plants?.Count() ?? 0;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();


        plants = null;
        plants = await Task.Run(() => repo.Get<PlantEntity>());
        this.StateHasChanged();

    }

    private string GetCollection(object obj)
    {
        var str = string.Empty;

        var collection = obj as IEnumerable<PlantEntity>;

        if (collection is null)
        {
            return str;
        }
        str = string.Join(", ", collection.Select(s => s.Id));
        return str;
    }

    public async Task OpenPlant(PlantEntity plant)
    {
        Task.Delay(200).Wait();
        await DialogService.OpenAsync<PlantDescription>($"{plant.Name}",
        new Dictionary<string, object>() { { "Plant", plant } },
             options: new DialogOptions() { Width = "700px", Height = "512px", Resizable = true, Draggable = true, CloseDialogOnEsc = true });
    }
}






