@page "/PlantDescription"
@using GreenFairy.Data.Authentication;
@using GreenFairy.DomainLayer.DataBase.Entities

@inject Radzen.DialogService dialogService
@inject UserAccountService service
@inject AuthenticationStateProvider provider

<div style="display: grid;
  grid-template-columns: 630px auto;">
    <div><h1>@Plant.Name</h1></div>
    <div >
    <RadzenButton Click="@((args) => dialogService.Close(true))" Variant="Variant.Flat" ButtonStyle="ButtonStyle.Light" Text="🗙" class="dismiss" />
    </div>
</div>

<div class="row">
    <RadzenText Text="@Plant.Description"></RadzenText>
</div>
<div class="row">
    <div class="col-md-12 text-left">
        <RadzenBadge BadgeStyle="BadgeStyle.Success" Style="width: 120px " Text=@($"Ціна: {String.Format(new System.Globalization.CultureInfo("uk-UA"), "{0:C}", Plant.Price)}") />
        <RadzenBadge BadgeStyle="BadgeStyle.Success" Style="scrollbar-arrow-color " Text=@($"Кількість рослин в наявності: {Plant.Amount}") />
    </div>
    @if (Plant.Amount == 0)
    {
        <div class="col-md-12 text-end">
            <RadzenButton Disabled="true" Click="@(()=>{AddToOrder(Plant);})" Variant="Variant.Flat" Text="Немає в наявності" Style="width: 120px" />
        </div>
    }
    @if (Plant.Amount > 0)
    {
    <div class="col-md-12 text-end">
            <RadzenButton Click="@(()=>{AddToOrder(Plant);})" Variant="Variant.Flat" Text="Додати до кошику" Style="width: 120px" />
    </div>
    }
</div>
@code
{
    [Parameter]
    public PlantEntity Plant { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();


    }
    public async Task AddToOrder(PlantEntity Plant)
    {
        UserAccountService.CurrentUser.AddPlant(Plant);
    }

}
